html{
    scroll-behavior: smooth;
    font-family: Roboto, system-ui, -apple-system, 
                 BlinkMacSystemFont, 'Segoe UI', Oxygen, 
                 Ubuntu, Cantarell, 'Open Sans', 
                 'Helvetica Neue', sans-serif;
    min-width: max-content;
}

body{
    background: #1F2833;
    margin: 0px;
    padding: 0px;
}
nav {
    background: #0B0C10;
    margin: 0px;
    padding: 0px;
    max-height: max-content;
    max-width: 100dvw;
}

.header {
    background: rgb(203, 203 , 203);
    max-width: 100dvw;
    margin: 0px;
    padding: 0px;
}

.header :first-child{
    max-width: 100dvw;
    margin: 0px;
    display: flex;
    justify-content: center;
}

.nav{
    max-width: 100dvw;
    max-height: max-content;
    width: 100dvw;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

.headline {
    margin: 0px;
    padding-top: 0px;
    color: #d4d7e3;
    size-adjust: auto;
    max-width: 100dvw;
}

.btn2, .btn1 {
    min-width: fit-content;
    text-decoration: none;
    touch-action: manipulation;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    background: #66FCF1;
    box-shadow: 0dvw 0dvw 0.2dvw  hwb(176 58% 0%);
    border: 0.01vw solid rgba(27, 31, 35, .15);
    border-radius: 0px;
    font-weight: 600;
    color: #0B0C10;
    z-index: 0;
    font-family: Roboto, system-ui, -apple-system, 
    BlinkMacSystemFont, 'Segoe UI', Oxygen, 
    Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
}

@media (pointer: fine) {    
    .headline{
        padding-inline: 7dvw;
    }
    
    .headline :first-child{
        font-size: 300%;
    }
    
    .headline :last-child, .headline :nth-child(2), .headline :nth-child(3), .headline :nth-child(4){
        max-width: 80dvw;
        font-size: 150%;
        column-gap: normal;
    }
    
    .btn2, .btn1 {
        padding: 0.5dvw;
        padding-inline: 2dvw;
        font-size: 2rem;
        cursor: pointer;
        font-size: 1.5rem;
    }
    
    .content{
        display: none;
        margin-top: 0rem;
        position: absolute;
        background-color: #8e8e8e;
        min-width: fit-content;
        z-index: 9999;
        padding-right: 0%;
        padding: 2%;
    }
    .content a {
        background: rgb(202, 202, 202);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 
                     'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
                     'Open Sans', 'Helvetica Neue', sans-serif;
        padding-right: 0%;
        color: black;
        text-decoration: none;
        display: block;
        z-index: 9999;
        line-height: 150%;
        border-radius: 2%;
        align-content: left;
    }
    
    .content a:hover{
        background: rgb(255, 255, 255);
    }
    
    .btn1 {
        position: relative;
        display: inline-block;
    }
    
    .btn1:hover .content{
        display: block;
        justify-content: center;
    }
    
    .btn2:hover, .btn1:hover {
        background: #10e662;
        box-shadow: 0vw 0vw 0.5vw #2ce460;
        color: #d4d7e3
    }
    
    .btn2:disabled, .btn1:disabled {
        cursor: default;
    }
    
    .btn2:active, .btn1:disabled {
        background: #2ce460;
        box-shadow: 0vw 0vw 0.5vw  #2ce460;
    }   

    .projects {
        color: #d4d7e3;
        size-adjust: auto;
        max-width: 100vw;
    }

    .projects :first-child {
        font-size: 300%;
        background: #1d232e;
        text-align: center;
        padding: 0.5dvw;
    }

    .TOAST{
        max-width: 100dvw;
        margin: 0px;
        padding: 0vh;
    }

    .TOAST :first-child {
        font-size: 200%;
        overflow: auto;
        color: #d4d7e3;
        text-decoration: underline;
        text-align: left;
        padding-inline: 7dvw;
    }
}

@media (pointer: coarse) {
    .headline{
        padding-left: 5dvw;
        padding-top: 0px;
        overflow: auto;
    }
    
    .headline :first-child{
        font-size: 200%;
        overflow: auto;
    }
    
    .headline :last-child, .headline :nth-child(2), .headline :nth-child(3), .headline :nth-child(4){
        font-size: 100%;
        max-width: 90dvw;
        overflow: auto;
    }
    
    .btn2, .btn1 {
        padding: 0px;
        padding-inline: 3dvw;
        font-size: 1.5rem;
        line-height: 200%;
        cursor: pointer;
    }
    
    .content{
        display: none;
        margin-top: 0%;
        position: absolute;
        background-color: #929294;
        min-width: fit-content;
        z-index: 9999;
        padding: 2%
    }
    .content a {
        max-width: 600px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 
                     'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
                     'Open Sans', 'Helvetica Neue', sans-serif;
        color: black;
        text-decoration: none;
        display: block;
        z-index: 9999;
        line-height: 150%;
        border-radius: 2%;
        align-content: center;
        background: #d1d0d0;
    }
    
    .content a:hover{
        max-width: 900px;
        background: rgb(255, 255, 255);
    }
    
    .btn1 {
        position: relative;
        display: inline-block;
    }
    
    .btn1:hover .content{
        display: block;
        justify-content: center;
    }
    
    .btn2:hover, .btn1:hover {
        background: #10e662;
        box-shadow: 0vw 0vw 0.7vw  hwb(137 58% 0%);
        color: #d4d7e3
    }
    
    .btn2:disabled, .btn1:disabled {
        cursor: default;
    }

    .btn1:disabled .content{
        display: none;
    }
    
    .btn2:active, .btn1:disabled {
        background: #2ce460;
        box-shadow: rgba(46, 255, 95, 0.66) 0 1px 0 inset;
    }

    .projects {
        max-width: 100vw;
        margin: 0px;
        padding: 0vh;
    }

    .projects :first-child {
        color:#d4d7e3;
        background: #1d232e;
        font-size: 200%;
        overflow: auto;
        text-align: center;
    }

    .TOAST{
        max-width: 100dvw;
        margin: 0px;
        padding: 0vh;
    }

    .TOAST :first-child {
        font-size: 140%;
        overflow: auto;
        color: #d4d7e3;
        text-decoration: underline;
        text-align: left;
        padding-inline: 4dvw;
    }
} 